<h1>HelpScout Invoice API</h1>
<div class="container-fluid">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" name="startDate" id="startDate" [(ngModel)]="startDate" required>
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" name="endDate" id="endDate" [(ngModel)]="endDate" required>
            </div>
            <button type="submit" class="btn btn-default" (click)="getConversationsByDate(startDate, endDate)">Submit</button>
        </form>
    </div>
    <p *ngIf="startDate && endDate">Query HelpScout conversations from {{startDate | date:"MM/dd/yyyy"}} to {{endDate | date:"MM/dd/yyyy"}}.</p>
</div>

<div *ngIf="count && pages">
    <h2>The search returned {{ count }} results over {{ pages }} pages.</h2>
</div>

<div class="container-fluid" *ngIf="conversations">
    <h3>Conversation IDs</h3>
    <ul>
        <li *ngFor="let c of conversations">#{{ c.number }}</li>
    </ul>
</div>

