<header>
    <div class="row">
        <div class="col-md-4">
            <img src="images\PeakMedical-logo.png" alt="Peak Medical Tech Logo">
        </div>
        <div class="col-md-8">
            <h1>HelpScout Invoice API</h1>
        </div>
    </div>
</header>

<div class="container-fluid">
    <form>
        <div class="row">
            <div class="form-group col-md-2">
                <label class="control-label" for="startDate">Start Date</label>
                <input class="form-control" type="date" name="startDate" id="startDate" [(ngModel)]="startDate" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label class="control-label"  for="endDate">End Date</label>
                <input class="form-control" type="date" name="endDate" id="endDate" [(ngModel)]="endDate" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="help-block" *ngIf="startDate && endDate">Query HelpScout conversations closed between {{startDate | date:"MM/dd/yyyy"}} and {{endDate | date:"MM/dd/yyyy"}} (not including end date).</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary" (click)="getConvByDate(startDate, endDate)" [disabled]="(threads.length > 0 && threads.length < count)">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>
    </form>

    <div *ngIf="!count && count !== 0 && searchStarted">
        <div class="alert alert-info">
            Searching ...
        </div>
    </div>

    <div *ngIf="count === 0">
        <div class="alert alert-warning">
            The search returned <strong>{{ count }}</strong> results.  Please try another date range.
        </div>
    </div>

    <div *ngIf="count">
        <div class="alert alert-success">
            The search returned <strong>{{ count }}</strong> results.
        </div>
        <div class="row">
            <div class="col-md-12">
                <div [class]="dbConnStatusType" role="alert">
                    <strong>DB Connection Status:</strong>  {{ dbConnStatus }}
                </div>
            </div>
        </div>
        <div *ngIf="dbConnStatus !== 'Connected'" class="row">
            <div class="col-md-12">
                <button class="btn btn-danger" (click)="checkDbConnection()">
                    Retry Connection
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary"
                    [disabled]="(threads.length > 0 && threads.length < count) || dbConnStatus !== 'Connected'"
                    (click)="getConvByDateAllPages()">
                    Process Results
                </button>
            </div>
        </div>

        <div *ngIf="threads.length > 0">
            <p *ngIf="count > 200 - (pages + 1)"> Helpscout limits their API to 200 requests per minute.  Depending on network
                speeds, you may experience wait times of up to 1 minute once the first ~{{200 - (pages + 1)}} messages have been requested, and
                for each additional batch of 200 messages.
            </p>
        </div>

        <div *ngIf="processingResults && threads.length < count" class="alert alert-info">
            Processing:  {{threads.length}} retrieved of {{count}}
        </div>
        <div *ngIf="threads.length === count">
            <strong>{{threads.length}} retrieved of {{count}}</strong>
        </div>

    </div>

    <div *ngIf="errorMessage || jobStatus">
        <div *ngIf="jobStatus" class="alert alert-success">
            <strong>Success:</strong> {{ jobStatus }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            <strong>Error:</strong> {{ errorMessage }}
        </div>
    </div>
</div>